body {
  font-family: "Open Sans";
  background-color: #36393f;
  color: #ffffff;
}

.link {
  color: #2f8aee;
}

.redLink {
  color: #ff0000;
}

.image {
  border-color: mediumpurple;
  border-style: solid;
  border-radius: 12px;
  margin: 10px;
  box-shadow: -7px 10px rgba(172, 177, 185, 0.24);
  float: left;
}

#map {
  height: 400px;
  width: 600px;
}

.whiteBorder {
  border: 1px solid #ffffff;
}

.table {
  height: 400px;
  width: 600px;
  top: 415px;
}

.right {
  float: right;
}

.descr {
  width: 50%;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.toggle-container {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(54, 57, 63, 0.8);
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
}